@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 906px;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --main-color: #626262;
}

/*-------------------------------------- header ----------------------------------*/
.header-menu {
    justify-content: center;
    margin-top: 71px;
    gap: 100px;

    a {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #7D7D7D;

    }
}

.header-items:nth-child(1) a {
    color: #3FAA3F;
}

/* ------------------------------------sec1--------------------------------------------- */
.sec1-wrap {
    margin-top: 92px;
    gap: 65px;
    margin-bottom: 120px;
}

.sec1-text {
    margin-top: 62px;

    h4 {
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        color: #B4AD9E;
        margin-bottom: 32px;

    }
    h2{
          font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 110%;
        color: var(--main-color);
        margin-bottom: 10px;
    }
    p{
       font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;  
        color: var(--main-color);
     
    }
}
/* ----------------------------------------------sec2---------------------------------------- */
.sec2-wrap{
    gap: 65px;
        margin-bottom: 120px;

}
.sec2-text {
    margin-top: 62px;

    h4 {
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        color: #B4AD9E;
        margin-bottom: 32px;

    }
    h2{
          font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 110%;
        color: var(--main-color);
        margin-bottom: 40px;
    }
    p{
       font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;  
        color: var(--main-color);
     
    }
}.load-more {
    text-align: center;
    padding: 60px 0;
}

.btn-load {
    padding: 15px 40px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #333;
    cursor: pointer;
}

.btn-load:hover {
    background-color: #333;
    color: white;
}
/* ---------------------------------------------------------sec3 ---------------------*/